@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Diego Felipe Ariza Gonzalez<br />
    Bogota, Colombia <br />
    <abbr title="Phone">P:</abbr>
    (+57)3017907595
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">diegardoariza@gmail.com</a>
</address>