@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>My Torre Dashboard</h1>
    <p class="lead">Below add your Torre user and we will generate for you a profesional dashboard.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>